body,
html {
  margin: 0;
  padding: 0;
}

body {
  padding: 2rem 2rem;
  box-sizing: border-box;
  background-color: #0d1b2a;
  color: #fff;
  font-family: "Roboto Serif", "Times New Roman", Times, serif;
  font-weight: 400;
}
div.border {
  border: 1px solid gold;
  padding: 1rem 1rem;
}
/****Font sizing*****/
h1,
h2,
h3,
h4,
header {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
main h2 {
  color: rgba(255, 217, 0, 0.582);
}
h3 {
  font-size: 1.5rem;
  color: rgba(255, 217, 0, 0.582);
}
h4 {
  color: rgba(243, 236, 197, 0.582);
}
p.flavor {
  color: rgba(243, 236, 197, 0.582);
}

/* header container styles*/

header {
  max-width: fit-content;
  border-radius: 0.5rem;
  padding: 1rem 1rem;
  font-weight: 600;
  text-align: center;
  margin: 0.1rem auto;
  position: relative;
}

header img.main-pic {
  max-width: 90%;
  height: 300px;
}

header h1 {
  position: absolute;
  top: 2rem;
  left: 6.9rem;
}
header h2 {
  position: absolute;
  top: 16rem;
  left: 9.8rem;
  font-size: 1.5rem;
}

/*** Nav styles********/
/* Make nav sticky */
nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #0d1b2a;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

nav a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.5rem;
  transition: 0.5s; /*****parameter, time******/
}

nav a:hover {
  border: 0.2rem solid rgba(255, 217, 0, 0.582);
  padding: 0.5rem;
  border-radius: 5rem;
}

nav a:active {
  color: #0d1b2a;
  background-color: aliceblue;
}

/*************Our story section syles********************/
#about-us {
  display: flow-root;
  margin-bottom: 2rem;
}
p.left-p {
  display: inline-block;
  text-align: center;
  justify-content: center;
  width: 700px;
}

img.pupuseras-img {
  max-width: 90%;
  height: 300px;
  float: left;
  margin-right: 1rem;
}

p.right-p {
  display: inline-block;
  text-align: center;
  justify-content: center;
  width: 700px;
}

img.pupuseras-2 {
  max-width: 90%;
  height: 300px;
  clear: left;
  margin-right: 1rem;
}

/***Reserve table btn styles*****/

.btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  background-color: rgb(0, 71, 171);
  border: 1px solid black;
  padding: 1rem 1rem;
  font-weight: 500;
  border-radius: 3rem;
  margin: 1rem auto;
}

.btn:hover {
  background-color: rgba(255, 217, 0, 0.582);
  color: black;
}

/***********Footer****************/
footer {
  background-color: #201f1f;
  border-radius: 3rem;
}

div.col {
  display: inline-block;
  margin: 0 2rem;
  position: relative;
  left: 12rem;
}

div.col h4 {
  color: (255, 217, 0, 0.582);
}
